/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente general y colores */
body {
    font-family: 'Arial Nova', sans-serif;
    background-color: #ebebeb;
    color: #333;

}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    z-index: -1; /* Mantener el fondo detrás del contenido */
    background-image: url("../images/fondo2.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(1px); /* Aplicar el desenfoque */
    opacity: 0.45; /* Reducir opacidad si se desea */
}

.home-link {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
}

.home-link:hover {
    color: #27AE60;
    transform: scale(1.05);
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 15px 20px;
    color: #fff;
    
    position: fixed;      /* Fija la barra en su posición */
    top: 0;               /* Posición en la parte superior de la ventana */
    width: 100%;          /* Asegura que la barra ocupe todo el ancho de la ventana */
    z-index: 1000; 
}
.main-title{
    color: #2C3E50;
    display: flex;
    justify-content: center;
    margin-bottom:20px ;
}

.main-title{
    color: #2C3E50;
    display: flex;
    justify-content: center;
    margin-bottom:20px ;
}

.navbar .logo {
    font-size: 24px;
    font-weight: 600;
}

.navbar .search-bar {
    border: 2px solid #2C3E50;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 14px;
}

.navbar-icons .icon {
    font-size: 18px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}
.navbar-icons :hover span{
    color: #2C3E50;
}
/* Secciones */
.course-section {
    padding: 40px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #ecf0f1cf;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
}
.course-section h2 {
    color: #2C3E50;
    font-size: 24px;
    margin-bottom: 20px;
}
.course-section img {
    width: 50%;
    display: block;       /* Convierte la imagen en un bloque */
    margin: 0 auto;       /* Centro horizontal */
}

/* Cards */
.course-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.courses-container{
    margin-top: 6.5%;
}
.courses-container-detail{
    margin-top: 7%;
}
.course-card {
    background-color: #F5F5F5;
    width: 300px;
    margin:auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    position:relative
}

.course-card:hover {
    transform: translateY(-10px);
}
.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.course-details {
    display: flex;               /* Activa el modo Flexbox */
    flex-direction: row;         /* Configura en fila */
    gap: 20px;                   /* Espacio entre los elementos */
    align-items: center;         /* Centra los elementos verticalmente */
    justify-content: flex-start; /* Alineación horizontal, ajustable según sea necesario */
}
.course-info {
    background-color: #F5F5F5;    /* Fondo claro */
    color: #2C3E50;               /* Color del texto */
    padding: 20px;                /* Espaciado interno */
    border-radius: 15px;          /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Sombra detrás del div */
    display: flex;                /* Usa flexbox para centrar contenido */
    flex-direction: column;       /* Asegura que el contenido esté en columnas */
    justify-content: center;      /* Centra el contenido verticalmente dentro de .course-info */
    width: 45%;                   /* Ajusta el ancho de .course-info */
    min-height: 150px;            /* Asegura que tenga una altura mínima */
}


.course-card a {
    font-size: 18px;
    margin: 10px;
    color:  #2C3E50;
    text-decoration: none;
}
.course-card h3 {
    font-size: 18px;
    margin: 10px;
    color: #2C3E50;
}
.course-card p {
    font-size: 14px;
    margin: 10px;
    color: #333;
}

.profile-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Sin subrayado */
    color: #333; /* Color neutro */
    font-size: 16px;
    font-weight: 500;
    gap: 8px; /* Espacio entre el ícono y el texto */
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-link i {
    font-size: 22px; /* Tamaño del ícono */
    color: #27AE60; /* Naranja oscuro */
}

.profile-link span {
    color: #ffffff; /* Color del texto */
}

/* Hover para realzar el elemento */
.profile-link:hover {
    background-color: #f2ebe1; /* Fondo claro al pasar el ratón */
    color: #27AE60; /* Naranja oscuro */
}

.profile-link:hover i {
    color: #27AE60; /* Naranja más vivo */
}

/* Enlace carrito estilizado */
.cart-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Sin subrayado */
    color: #333; /* Color neutro */
    font-size: 16px;
    font-weight: 500;
    gap: 8px; /* Espacio entre el ícono y el texto */
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cart-link i {
    font-size: 22px; /* Tamaño del ícono */
    color: #d4800c; /* Naranja oscuro */
}

.cart-link span {
    color: #333; /* Color del texto */
}

/* Hover para realzar el elemento */
.cart-link:hover {
    background-color: #f2ebe1; /* Fondo claro al pasar el ratón */
    color: #d4800c; /* Naranja oscuro */
}

.cart-link:hover i {
    color: #27AE60; /* Naranja más vivo */
}

.paginacion {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    height: 10px;
}

.step-links a {
    text-decoration: none;
    color: #2C3E50;
    border: 1px solid #2C3E50;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.step-links a:hover {
    background-color: #2C3E50;
    color: #fff;
}

.step-links .pagina-actual {
    font-weight: bold;
    color: #fff;
    background-color: #2C3E50;
    padding: 5px 10px;
    border-radius: 5px;
}


.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    padding: 15px;
    z-index: 10;
    display: none;
}

.dropdown.hidden {
    display: none;
}

.dropdown.visible {
    display: block;
}

#cart-items {
    max-height: 200px;
    overflow-y: auto;
}

#cart-total {
    margin-top: 10px;
    font-weight: bold;
    text-align: right;
}

#cart-items .cart-item p {
    color: #000000;  /* Color oscuro para el texto de los cursos */
}
.div-images-help{
    width: 100%;
    height: 20px;
    margin-top:  -14%;

}

/* Centrar y estilizar los botones de acción */
.course-buttons {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 15px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio superior */
}

.course-buttons .btn {
    display: inline-block;
    font-size: 18px; /* Incrementa el tamaño de la fuente */
    padding: 12px 20px; /* Aumenta el tamaño general del botón */
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
    transition: all 0.3s ease; /* Suaviza las transiciones */
    color: #fff; /* Texto en blanco */
    font-weight: bold;
}

.course-buttons .add-to-cart {
    background-color: #28a745; /* Verde para el botón de añadir al carrito */
}

.course-buttons .add-to-cart:hover {
    background-color: #218838; /* Verde más oscuro al pasar el ratón */
}

.course-buttons .share-course {
    background-color: #007bff; /* Azul para el botón de compartir */
}

.course-buttons .share-course:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
}
/* Agotado - Botón deshabilitado */
.course-buttons .add-to-cart.agotado {
    background-color: #e74c3c; /* Fondo rojo */
    cursor: not-allowed; /* Desactiva el cursor */
    opacity: 0.6; /* Baja la opacidad para hacerlo ver deshabilitado */
}

.course-buttons .add-to-cart.agotado i {
    pointer-events: none; /* Evita la interacción con el ícono */
}

/* Estilo cuando el botón tiene texto "Agotado" */
.course-buttons .add-to-cart[disabled] {
    background-color: #e74c3c; /* Fondo rojo */
    cursor: not-allowed; /* Desactiva el cursor */
    opacity: 0.6; /* Opacidad para mostrar que está deshabilitado */
}

/* Cambiar el texto a "Agotado" cuando no hay plazas disponibles */
.course-buttons .add-to-cart[disabled] i {
    display: none; /* Ocultar el ícono cuando está agotado */
}

/* Para el texto "Agotado" en lugar de "Añadir al carrito" */
.course-buttons .add-to-cart[disabled]::before {
    content: "Agotado"; /* El texto que aparece cuando está agotado */
    font-size: 16px;
    color: #fff;
    text-align: center;
    display: block;
}


/* Estilos para la alerta personalizada */
.custom-alert {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-alert.hidden {
    display: none;
}

.custom-alert.error {
    background-color: #f44336; /* Rojo para errores */
}

.custom-alert button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.custom-alert button:hover {
    opacity: 0.7;
}

/* Estilo global para los select */
.filter-select {
    width: 24%;
    padding: 8px 15px; /* Reducido padding */
    font-size: 15px; /* Reducido tamaño de fuente */
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    box-sizing: border-box;
}

/* Cambios al hacer hover sobre el select */
.filter-select:hover {
    border-color: #27AE60; /* Color verde */
    background-color: #f1f1f1;
}

/* Estilo cuando el select está enfocado */
.filter-select:focus {
    border-color: #27AE60; /* Color verde */
    outline: none;
    background-color: #fff;
}

/* Estilo de los options */
.filter-select option {
    padding: 8px; /* Reducido padding */
    background-color: #fff;
    color: #333;
    border: none;
}

/* Estilo para la opción seleccionada */
.filter-select option:checked {
    background-color: #27AE60;
    color: #fff;
}

/* Estilo para los selects dentro de formularios */
form .filter-select {
    margin-bottom: 8px; /* Espacio reducido entre selects */
}


#checkout-button {
    display: block;
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#checkout-button:hover {
    background-color: #242b32;
}

#checkout-button:active {
    background-color: #004085;
}
.track-order-section {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

.track-order-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.track-order-form label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.track-order-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.track-order-form button {
    padding: 10px;
    background-color: #004085;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.track-order-form button:hover {
    background-color: #023265;
}

.sticker {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 100;
    text-transform: uppercase;
}

.sticker.agotado {
    background-color: #e74c3c; /* Color rojo */
    color: white;
}


.detsticker {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e74c3c; /* Color rojo */
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 100;
    text-transform: uppercase;
}

.detsticker.agotado {
    background-color: #e74c3c; /* Color rojo */
    color: white;
    font-size: 16px; /* Puedes aumentar el tamaño para hacerlo más visible */
}


.quantity{
    position: relative;
    color: black    
}

input[type="number"] {
    width: 80px; /* Ancho personalizado */
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: 2px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    margin-right: 10px; /* Espaciado a la derecha del input */
    transition: border-color 0.3s ease; /* Efecto de transición al pasar el ratón */
}

/* Estilo del input cuando está enfocado (cuando el usuario hace clic en él) */
input[type="number"]:focus {
    border-color: #4CAF50; /* Borde verde cuando está enfocado */
    outline: none; /* Elimina el contorno por defecto */
}

/* Estilo cuando el input tiene un valor no válido (por ejemplo, un valor fuera de rango) */
input[type="number"]:invalid {
    border-color: red; /* Borde rojo si el valor no es válido */
}


.admin-banner {
    background-color: #ffcc00;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left:18%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.admin-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.admin-buttons .btn {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.create-course {
    background-color: #004085;
    margin-left: 1%;
}

.create-course:hover {
    background-color: #002853;
}

.edit-course {
    background-color: #007bff;
}

.edit-course:hover {
    background-color: #0056b3;
}


.delete-course {
    background-color: #dc3545;
    border: none;
}

.delete-course:hover {
    background-color: #a71d2a;

}

.list_usuarios{
    background-color: #ebe9e9c3;
    margin: 75px;
    border: 10px solid #ebe9e9c3; /* Borde gris claro */
}
/* Botones en las tablas */
.btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: 0.9em;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #45a049;
}
.btn-danger {
    background-color: #d63d32;
}
.btn-danger:hover {
    background-color: #ad2927;
}
/* Estilos generales para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
thead tr {
    background-color: #3e8c41;
    color: white;
    text-align: left;
    font-weight: bold;
}
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}
tbody tr {
    border-bottom: 1px solid #ddd;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
