/* Estilos globales */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f900;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Estilo para el contenedor principal */
.container {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background-color: #ffffffa3;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Título principal */
h1 {
    font-size: 36px;
    color: #49777b;
    margin-bottom: 20px;
}

/* Estilo del mensaje de confirmación */
p {
    font-size: 16px;
    color: #49777b;
    margin-bottom: 20px;
}

/* Estilo del enlace para volver al inicio */
a {
    font-size: 18px;
    font-weight: 600;
    color: #49777b;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: color 0.3s ease;
}

/* Efecto hover en el enlace */
a:hover {
    color: #ff6f61;
    text-decoration: underline;
}

/* Estilo para el logo OpositaConmigo */
a.logo {
    font-size: 24px;
    font-weight: 700;
    color: #007bff;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 40px;
    display: block;
}

/* Efecto hover en el logo */
a.logo:hover {
    color: #ff6f61;
}
