<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Cursos</title>
    <link rel="stylesheet" href="{% static 'css/buscar_cursos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="logo"><a href="{% url 'home' %}" class="home-link">OpositaConmigo</a></div> 
        <form id="searchForm" action="{% url 'buscar_cursos' %}" method="get">
        
    </form>
    <form id="searchForm" action="{% url 'buscar_cursos' %}" method="get">
        <!-- Campo de búsqueda -->    
        <input type="text" class="search-bar" name="q" placeholder="Buscar curso..." value="{{ query }}">
        
        <!-- Filtro de Departamento -->
        <select name="departamento" id="departamento" class="filter-select" onchange="this.form.submit()">
            <option value="" {% if not request.GET.departamento %}selected{% endif %}>Todos los departamentos</option>
            {% for key, value in departamento_choices %}
                <option value="{{ key }}" {% if request.GET.departamento == key %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        
        <!-- Filtro de Sector Laboral -->
        <select name="sector_laboral" id="sector_laboral" class="filter-select" onchange="this.form.submit()">
            <option value="" {% if not request.GET.sector_laboral %}selected{% endif %}>Todos los sectores</option>
            {% for key, value in sector_laboral_choices %}
                <option value="{{ key }}" {% if request.GET.sector_laboral == key %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
    </form>   
    <nav class="navbar-icons">
        <div class="icon profile">
            {% if request.user.is_authenticated %}
                <a href="{% url 'perfil' %}" class="profile-link">
                    <i class="fas fa-user"></i>
                    <span>{{ request.user.nombre_usuario }}</span>
                </a>
            {% else %}
                <a href="{% url 'inicioSesion' %}" class="profile-link">
                    <i class="fas fa-user-circle"></i>
                    <span>Perfil</span>
                </a>
            {% endif %}
        </div>
        <div class="icon cart">
            <i class="fas fa-shopping-cart"></i>
            <span>Carrito</span>
        </div>
        
    </header>
    
    <main class="courses-container">
        <section id="soon-courses" class="course-section">
            <h2>Resultados de búsqueda para "{{ query }}"</h2>
            <div class="course-list">
                {% if resultados %}
                    {% for curso in resultados %}
                        <div class="course-card">
                            <a href="/curso/{{ curso.id }}">
                            
                            <img src="../{{curso.imagen }}" alt="Imagen del curso">

                            <h3>{{ curso.nombre }}</h3>
                            <p>Fecha de inicio: {{ curso.fecha_inicio }}</p>
                            <p>Plazas disponibles: {{ curso.plazas_disponibles }}</p>
                            <p>Precio: {{ curso.precio }}€</p>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No se encontraron cursos que coincidan con tu búsqueda.</p>
                {% endif %}
            </div>
        </section>
    </main>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
