<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Cursos</title>
    <link rel="stylesheet" href="{% static 'css/buscar_cursos.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo"><a href="{% url 'home' %}" class="home-link">OpositaConmigo</a></div> 
        <form id="searchForm" action="{% url 'buscar_cursos' %}" method="get">
        <input type="text" class="search-bar" name="q" placeholder="Buscar curso..." value="{{ query }}">
    </form>
    <nav class="navbar-icons">
        <div class="icon profile">
            {% if request.user.is_authenticated %}
                <a href="{% url 'perfil' %}" class="profile-link">
                    <i class="fas fa-user"></i>
                    <span>{{ request.user.nombre_usuario }}</span>
                </a>
            {% else %}
                <a href="{% url 'inicioSesion' %}" class="profile-link">
                    <i class="fas fa-user-circle"></i>
                    <span>Perfil</span>
                </a>
            {% endif %}
        </div>
        <div class="icon cart">
            <i class="fas fa-shopping-cart"></i>
            <span>Carrito</span>
        </div>
    </nav>
</header>
    
    <main class="courses-container">
        <h2 class="resultados-titulo"> Resultados de búsqueda para "{{ query }}"</h2>
        <div class="course-list">
            {% if resultados %}
                {% for curso in resultados %}
                    <div class="course-card">
                        <img src="{{ curso.imagen }}" alt="Imagen del curso">
                        <h3>{{ curso.nombre }}</h3>
                        <p>Fecha de inicio: {{ curso.fecha_inicio }}</p>
                        <p>Plazas disponibles: {{ curso.plazas_disponibles }}</p>
                        <p>Precio: {{ curso.precio }}€</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No se encontraron cursos que coincidan con tu búsqueda.</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
