<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
    <link rel="stylesheet" href="{% static 'css/finalizar_compra.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header class="navbar">
        <div class="logo"><a href="{% url 'home' %}" class="home-link">OpositaConmigo</a></div> 
        <form id="searchForm" action="{% url 'buscar_cursos' %}" method="get">
            <input type="text" class="search-bar" name="q" placeholder="Buscar curso..." value="{{ query }}">
        </form>
        {% if request.user.is_superuser %}
        <div class="admin-banner">
            <span>Eres Admin</span>
        </div>
    {% endif %}
        <nav class="navbar-icons">
            {% if request.user.is_authenticated %}
                <a href="{% url 'perfil' %}" class="profile-link">
                    <i class="fas fa-user"></i><span>{{ request.user.nombre_usuario }}</span>
                </a>
            {% else %}
                <a href="{% url 'inicioSesion' %}" class="profile-link">
                    <i class="fas fa-user"></i><span>Perfil</span>
                </a>
            {% endif %}
            
            <div class="profile-link" id="cart-button">
                <i class="fas fa-shopping-cart"></i>
                <span>Carrito</span>
            </div>
                <div id="cart-dropdown" class="dropdown hidden">
                    <div id="cart-items" class="cart-items">
                        <!-- Los productos del carrito se insertarán aquí dinámicamente -->
                    </div>
                    
                    <a href="{% url 'finalizar_compra' %}" id="checkout-button" class="checkout-button">Finalizar Compra</a>
                </div>
            

        </nav>
    </header>
    <div class="container">
        <h2>Finalizar Compra</h2>

        <!-- Aquí se añadirán los cursos del carrito -->
        <div id="cart-courses"></div>

        <!-- Formulario para completar la compra -->
        <form id="checkout-form" class="checkout-form">
            <h3>Detalles del Pedido</h3>

            <div id="course-form-container"></div>

            <div id="checkout-form">
                <h3>Detalles del Comprador</h3>

                <div>
                    <label for="nombre-comprador">Nombre:</label>
                    <input 
                        type="text" 
                        id="nombre-comprador" 
                        name="nombre_comprador" 
                        value="{{ user_data.nombre|default:'' }}" 
                        placeholder="Escribe tu nombre completo" 
                        required>
                </div>
                <div>
                    <label for="email-comprador">Correo Electrónico:</label>
                    <input 
                        type="email" 
                        id="email-comprador" 
                        name="email_comprador" 
                        value="{{ user_data.email|default:'' }}" 
                        placeholder="Escribe tu correo electrónico" 
                        required>
                </div>
                <div>
                    <label for="direccion-envio">Dirección:</label>
                    <input 
                        type="text" 
                        id="direccion-envio" 
                        name="direccion_envio" 
                        value="{{ user_data.direccion_entrega|default:'' }}" 
                        placeholder="Escribe tu dirección completa" 
                        required>
                </div>
                <div>
                    <label for="ciudad-envio">Ciudad:</label>
                    <input 
                        type="text" 
                        id="ciudad-envio" 
                        name="ciudad_envio" 
                        value="{{ user_data.ciudad|default:'' }}" 
                        placeholder="Escribe tu ciudad" 
                        required>
                </div>
                <div>
                    <label for="provincia-envio">Provincia:</label>
                    <input 
                        type="text" 
                        id="provincia-envio" 
                        name="provincia_envio" 
                        value="{{ user_data.provincia|default:'' }}" 
                        placeholder="Escribe tu provincia" 
                        required>
                </div>
                <div>
                    <label for="codigo-postal-envio">Código Postal:</label>
                    <input 
                        type="text" 
                        id="codigo-postal-envio" 
                        name="codigo_postal_envio" 
                        value="{{ user_data.codigo_postal|default:'' }}" 
                        placeholder="Escribe tu código postal" 
                        required>
                </div>
                
                <div>
                    <label for="payment-method">Forma de Pago:</label>
                    <select id="payment-method" name="payment-method" required>
                        <option value="credit-card">Tarjeta de Crédito</option>
                        <option value="cash-on-delivery">Contrarreembolso</option>
                    </select>
                </div>
            </div>

            <button type="submit">Confirmar Compra</button>
            <button type="button" class="cancel-button" id="cancel-button">Cancelar</button>
        </form>
        <div class="cart-total">
            <h3>Resumen de la compra</h3>
            <div id="gastos-gestion-container" class="gastos-gestion">
                <!-- Los gastos de gestión se mostrarán aquí con el valor correspondiente -->
            </div>
            <p><strong>Total:</strong> <span id="total-price" class="total-price">0€</span></p>
            <!-- Apartado de gastos de gestión -->
           
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const cartCoursesContainer = document.getElementById("cart-courses");
            const checkoutForm = document.getElementById("checkout-form");
            const totalPriceElement = document.getElementById("total-price");
            const cancelButton = document.getElementById("cancel-button");
            const courseFormContainer = document.getElementById("course-form-container");
    
            // Obtener el carrito desde el servidor
            fetch("/api/carrito/")
                .then(response => response.json())
                .then(data => {
                    let totalPrice = 0;
                    console.log(data.total_precio)
    
                    // Mostrar cada curso en el carrito
                    data.cursos.forEach((curso, index) => {
                        // Mostrar los cursos en el carrito
                        const courseDiv = document.createElement("div");
                        courseDiv.classList.add("cart-course");
                        courseDiv.innerHTML = `
                            <h3>${curso.nombre}</h3>
                            <p class="cantidad">Cantidad: ${curso.cantidad}</p>
                            <p class="precio-total">Total: ${curso.precio_total}€</p>
                            <button class="remove-course" data-course-id="${curso.id}">Eliminar</button>
                        `;
    
                        // Añadir inputs ocultos directamente al formulario
                        const hiddenCourseId = document.createElement("input");
                        hiddenCourseId.type = "hidden";
                        hiddenCourseId.name = "curso_id[]";
                        hiddenCourseId.value = curso.id;
    
                        const hiddenCantidad = document.createElement("input");
                        hiddenCantidad.type = "hidden";
                        hiddenCantidad.name = "cantidad[]";
                        hiddenCantidad.value = curso.cantidad;
    
                        checkoutForm.appendChild(hiddenCourseId);
                        checkoutForm.appendChild(hiddenCantidad);
    
                        cartCoursesContainer.appendChild(courseDiv);
    
                        // Añadir evento de eliminación
                        courseDiv.querySelector(".remove-course").addEventListener("click", async (e) => {
                            const courseId = e.target.getAttribute("data-course-id");
                            
                            // Enviar solicitud para eliminar el curso
                            const response = await fetch(`../api/carrito/eliminar/`, {
                                method: "DELETE",
                                headers: {
                                            'Content-Type': 'application/json',
                                            'X-CSRFToken': getCookie('csrftoken') // Necesitas configurar el token CSRF
                                        },
                                        
                                body: JSON.stringify({ curso_id: curso.id })
                            });
    
                            const result = await response.json();
                            if (result.success) {
                                location.reload(); 
                              
                            } else {
                                alert("Hubo un error al eliminar el curso.");
                            }
                        });
    
                        // Crear un formulario para cada unidad del curso
                        for (let i = 0; i < curso.cantidad; i++) {
                            const courseForm = document.createElement("div");
                            courseForm.classList.add("course-form");
                            courseForm.innerHTML = `
                                <h4>${curso.nombre} - Persona ${i + 1}</h4>
                                <div>
                                    <label for="nombre-${index}-${i}">Nombre:</label>
                                    <input type="text" id="nombre-${index}-${i}" name="name-${index}-${i}" required>
                                </div>
                                <div>
                                    <label for="email-${index}-${i}">Correo Electrónico:</label>
                                    <input type="email" id="email-${index}-${i}" name="email-${index}-${i}" required>
                                </div>
                                <input type="hidden" name="course_id-${index}-${i}" value="${curso.id}">
                                <input type="hidden" name="course_quantity-${index}-${i}" value="1">
                            `;
    
                            const hiddenNombre = document.createElement("input");
                            hiddenNombre.type = "hidden";
                            hiddenNombre.name = "nombre[]";
                            hiddenNombre.value = curso.name;
    
                            const hiddenemail = document.createElement("input");
                            hiddenemail.type = "hidden";
                            hiddenemail.name = "email[]";
                            hiddenemail.value = curso.email;
    
                            checkoutForm.appendChild(hiddenNombre);
                            checkoutForm.appendChild(hiddenemail);
                            courseFormContainer.appendChild(courseForm);
                        }
    
                        // Actualizar el total
                        totalPrice += curso.precio_total;
                    });
    
                    // Añadir los gastos de gestión si el total es menor a 300€
                    const gastosGestion = totalPrice <= 450 ? 5 : 0;
                    totalPrice += gastosGestion;

                // Mostrar el total en el formulario
                    totalPriceElement.textContent = `${totalPrice}€`;

                    // Siempre mostrar los gastos de gestión, con 0€ si no se aplican
                    const gastosGestionContainer = document.getElementById('gastos-gestion-container');  // Corrección aquí
                    const gastosGestionText = gastosGestion > 0 ? `${gastosGestion}€` : "0€";
                    gastosGestionContainer.innerHTML = `<p><strong>Gastos de gestión:</strong> ${gastosGestionText}</p>`;
                    gastosGestionContainer.style.display = 'block'; // Mostrar siempre los gastos de gestión
                });
    
            // Enviar el formulario de compra
            checkoutForm.addEventListener("submit", async (e) => {
                e.preventDefault();
    
                const formData = new FormData(checkoutForm);
                const paymentMethod = formData.get("payment-method");
    
                // Recoger los datos del comprador
                const nombreComprador = formData.get("nombre_comprador");
                const emailComprador = formData.get("email_comprador");
                const direccionEnvio = formData.get("direccion_envio");
                const ciudadEnvio = formData.get("ciudad_envio");
                const provinciaEnvio = formData.get("provincia_envio");
                const codigoPostalEnvio = formData.get("codigo_postal_envio");
                const cursoIds = formData.getAll("curso_id[]");
                const cantidades = formData.getAll("cantidad[]");
                const nombres = formData.getAll("nombre[]");
                const emails = formData.getAll("email[]");
    
                const items = cursoIds.map((cursoId, index) => ({
                    curso_id: cursoId,
                    cantidad: parseInt(cantidades[index], 10),
                    nombre: formData.get(`name-${index}-0`),
                    email: formData.get(`email-${index}-0`)
                }));
    
                if (items.length === 0) {
                    alert("El carrito está vacío.");
                    return;
                }
    
                // Validar que los datos del comprador estén completos
                if (!nombreComprador || !emailComprador || !direccionEnvio || !ciudadEnvio || !provinciaEnvio || !codigoPostalEnvio) {
                    alert("Por favor, completa todos los campos de información del comprador.");
                    return;
                }
    
                const data = {
                    nombre_comprador: nombreComprador,
                    email_comprador: emailComprador,
                    direccion_envio: direccionEnvio,
                    ciudad_envio: ciudadEnvio,
                    provincia_envio: provinciaEnvio,
                    codigo_postal_envio: codigoPostalEnvio,
                    items: items, // Enviar los cursos y cantidades
                    payment_method: paymentMethod,
                };
    
                // Gestión del pago
                if (paymentMethod === "credit-card") {
                    try {
                        const response = await fetch("{% url 'create_checkout_session' %}", {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCookie('csrftoken'), // Configuración del token CSRF
                            },
                            body: JSON.stringify({ data }), // Enviar el carrito completo al backend
                        });
    
                        if (response.ok) {
                            const data = await response.json();
                            if (data.url) {
                                window.location.href = data.url; // Redirige al usuario a la sesión de Stripe
                            } else {
                                alert("Error al generar la sesión de Stripe.");
                            }
                        } else {
                            alert("Error en la comunicación con el servidor.");
                        }
                    } catch (error) {
                        console.error("Error al redirigir a Stripe:", error);
                        alert("Hubo un error al procesar el pago con tarjeta.");
                    }
                } else if (paymentMethod === "cash-on-delivery") {
                    // Preparar datos para el pago contra reembolso
                    try {
                        const response = await fetch("../api/confirmar_compra/", {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCookie('csrftoken'),
                            },
                            body: JSON.stringify(data),
                        });
    
                        const result = await response.json();
                        if (result.success) {
                            alert("Compra realizada con éxito!");
                            window.location.href = "/success"; // Redirigir a una página de agradecimiento
                        } else {
                            alert(`Error: ${result.message}`);
                        }
                    } catch (error) {
                        console.error("Error en el proceso de Contrarreembolso:", error);
                        alert("Hubo un error al confirmar tu compra.");
                    }
                } else {
                    alert("Método de pago no reconocido.");
                }
            });
    
            // Cancelar la compra
            cancelButton.addEventListener("click", () => {
                window.location.href = "/";  // Redirigir al carrito para editarlo si es necesario
            });
    
            // Función para obtener el token CSRF de las cookies
            function getCookie(name) {
                const cookieValue = document.cookie
                    .split('; ')
                    .find(row => row.startsWith(name + '='));
                return cookieValue ? cookieValue.split('=')[1] : null;
            }
    
            fetch("/api/usuario/")
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Usuario no autenticado");
                    }
                    return response.json();
                })
                .then(user => {
                    // Rellenar los campos del formulario con los datos del usuario
                    document.getElementById("nombre-comprador").value = user.nombre || "";
                    document.getElementById("email-comprador").value = user.email || "";
                    document.getElementById("direccion-envio").value = user.direccion_entrega || "";
                    document.getElementById("ciudad-envio").value = user.ciudad || "";
                    document.getElementById("provincia-envio").value = user.provincia || "";
                    document.getElementById("codigo-postal-envio").value = user.codigo_postal || "";
                })
                .catch(error => {
                    console.error("Error al obtener los datos del usuario:", error);
                });
        });
    </script>
    
</body>

</html>
