<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar Cursos Online</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-blur"></div> 
    <!-- Navbar -->
    <header class="navbar">
        <div class="logo"><a href="{% url 'home' %}" class="home-link">OpositaConmigo</a></div> 
        <form id="searchForm" action="{% url 'buscar_cursos' %}" method="get">
            <input type="text" class="search-bar" name="q" placeholder="Buscar curso..." value="{{ query }}">
        </form>
        {% if request.user.is_superuser %}
        <div class="admin-banner">
            <span>Eres Admin</span>
        </div>
    {% endif %}
    {% if request.user.is_superuser %}
    <nav class="navbar-icons">

            <a href="{% url 'inicioSesion' %}" class="profile-link">
                <i class="fas fa-users"></i><span>Usuarios</span>
            </a>
            <a href="{% url 'inicioSesion' %}" class="profile-link">
                <i class="fas fa-users"></i><span>Usuarios</span>
            </a>    
    </nav>
{% endif %}
        <nav class="navbar-icons">
            {% if request.user.is_authenticated %}
                <a href="{% url 'perfil' %}" class="profile-link">
                    <i class="fas fa-user"></i><span>{{ request.user.nombre_usuario }}</span>
                </a>
            {% else %}
                <a href="{% url 'inicioSesion' %}" class="profile-link">
                    <i class="fas fa-user"></i><span>Perfil</span>
                </a>
            {% endif %}

            <div class="profile-link" id="cart-button">
                <i class="fas fa-shopping-cart"></i>
                <span>Carrito</span>
                
            </div>
                <div id="cart-dropdown" class="dropdown hidden">
                    <div id="cart-items" class="cart-items">
                        <!-- Los productos del carrito se insertarán aquí dinámi    amente -->
                    </div>
                    <div id="cart-total" class="cart-total">
                        <span>Total: </span><span id="total-price">$0.00</span>
                    </div>
                    <a href="{% url 'finalizar_compra' %}" id="checkout-button" class="checkout-button" style="display: none;">Finalizar Compra</a>
                </div>

        </nav>

    
    </header>

    <main class="courses-container">
        <!-- Filtros de ordenamiento -->
        <section id="sorting" class="sorting-section">
            <form method="GET">
                <label for="orden">Ordenar por:</label>
                <select name="orden" id="orden" onchange="this.form.submit()">
                    <option value="">Seleccione...</option>
                    <option value="fecha" {% if orden == 'fecha' %} selected {% endif %}>Fecha de inicio</option>
                    <option value="precio" {% if orden == 'precio' %} selected {% endif %}>Precio</option>
                    <option value="plazas" {% if orden == 'plazas' %} selected {% endif %}>Plazas disponibles</option>
                </select>
                
                <label for="direccion">Dirección:</label>
                <select name="direccion" id="direccion" onchange="this.form.submit()">
                    <option value="asc" {% if direccion == 'asc' %} selected {% endif %}>Ascendente</option>
                    <option value="desc" {% if direccion == 'desc' %} selected {% endif %}>Descendente</option>
                </select>
            </form>
        </section>

        <!-- Cursos próximos -->
        <section id="soon-courses" class="course-section">
            <h2>Cursos que empiezan pronto</h2>
            <div class="course-list">
                {% for curso in cursos_pronto %}
                    <div class="course-card">
                        {% if curso.plazas_disponibles == 0 %}
                        <div class="sticker agotado">Agotado</div>
                        {% endif %}
                        <a href="/curso/{{ curso.id }}">
                        <div class="div-images-help"></div>
                        <img src="{{ curso.imagen }}" alt="Imagen del curso">
                        <h3>{{ curso.nombre }}</h3>
                        <p>Fecha de inicio: {{ curso.fecha_inicio }}</p>
                        <p>Plazas disponibles: {{ curso.plazas_disponibles }}</p>
                        <p>Precio: {{ curso.precio }}€</p>
                    
                </a>
            </div>
                {% empty %}
                    <p>No hay cursos próximos disponibles.</p>
                {% endfor %}
            </div>
            <div style="color: rgba(255, 255, 255, 0);">.</div>
            <!-- Paginación -->
            <div class="pagination">
                <span class="step-links">
                    {% if cursos_pronto.has_previous %}
                        <a href="?page=1&orden={{ orden }}&direccion={{ direccion }}">Primera</a>
                        <a href="?page={{ cursos_pronto.previous_page_number }}&orden={{ orden }}&direccion={{ direccion }}">Anterior</a>
                    {% endif %}
                    
                    <span class="current">
                        Página {{ cursos_pronto.number }} de {{ cursos_pronto.paginator.num_pages }}.
                    </span>

                    {% if cursos_pronto.has_next %}
                        <a href="?page={{ cursos_pronto.next_page_number }}&orden={{ orden }}&direccion={{ direccion }}">Siguiente</a>
                        <a href="?page={{ cursos_pronto.paginator.num_pages }}&orden={{ orden }}&direccion={{ direccion }}">Última</a>
                    {% endif %}
                </span>
            </div>
        </section>

        <section id="limited-courses" class="course-section">
            <h2>Cursos con pocas plazas disponibles</h2>
            <div class="course-list">
                {% for curso in cursos_pocas_plazas %}
                    <div class="course-card">
                        
                        {% if curso.plazas_disponibles == 0 %}
                        <div class="sticker agotado">Agotado</div>
                        {% endif %}
                        <a href="/curso/{{ curso.id }}">
                            <div class="div-images-help"></div>
                            <img src="{{ curso.imagen }}" alt="Imagen del curso">
                            <h3>{{ curso.nombre }}</h3>
                            <p>Fecha de inicio: {{ curso.fecha_inicio }}</p>
                            <p>Plazas disponibles: {{ curso.plazas_disponibles }}</p>
                            <p>Precio: {{ curso.precio }}€</p>
                        </a>

                    </div>
                {% empty %}
                    <p>No hay cursos con plazas limitadas.</p>
                {% endfor %}
            </div>
        </section>

        <section id="cheap-courses" class="course-section">
            <h2>Cursos baratos</h2>
            <div class="course-list">
                {% for curso in cursos_baratos %}
                    <div class="course-card">
                        
                            {% if curso.plazas_disponibles == 0 %}
                            <div class="sticker agotado">Agotado</div>
                            {% endif %}
                            <a href="/curso/{{ curso.id }}">
                            <div class="div-images-help"></div>
                            <img src="{{ curso.imagen }}" alt="Imagen del curso">
                            <h3>{{ curso.nombre }}</h3>
                            <p>Fecha de inicio: {{ curso.fecha_inicio }}</p>
                            <p>Plazas disponibles: {{ curso.plazas_disponibles }}</p>
                            <p>Precio: {{ curso.precio }}€</p>
                            </a>
                    </div>
                {% empty %}
                    <p>No hay cursos económicos disponibles.</p>
                {% endfor %}
            </div>
        </section>
        <section id="track-order" class="course-section">
            <h2>Rastrea tu Pedido</h2>
            <form action="{% url 'detalle_pedido' %}" method="get" class="track-order-form">
                <label for="codigo_seguimiento">Introduce tu código de seguimiento:</label>
                <input type="text" id="codigo_seguimiento" name="codigo_seguimiento" placeholder="Código de Seguimiento" required>
                <button type="submit" class="track-order-button">Rastrear Pedido</button>
            </form>
        </section>
    </main>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
