<!-- templates/cursos/home.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar Cursos Online</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="logo">OpositaConmigo</div>
        <input type="text" class="search-bar" placeholder="Buscar curso...">
        <nav class="navbar-icons">
            <div class="icon profile">
                {% if request.user.is_authenticated %}
                <a href="{% url 'perfil' %}">{{ request.user.nombre_usuario }}</a> <!-- Mostrar el nombre de usuario -->
                {% else %}
                    <a href="{% url 'inicioSesion' %}">Perfil</a> <!-- Mostrar enlace de perfil si no está logueado -->
                {% endif %}
            </div>
            <div class="icon cart"><i class="fas fa-shopping-cart"></i> Carrito</div>
        </nav>
    </header>

    <!-- Secciones de cursos -->
    <section id="courses-section" class="courses-section">
        <h2>Todos los Cursos</h2>
        <div class="course-list">
            {% for curso in cursos %}
                <div class="course-card">
                    <h3><a href="/curso/{{ curso.id }}">{{ curso.nombre }}</a></h3>
                    <p>Fecha de inicio: {{ curso.fecha_inicio }}</p>
                    <p>Plazas disponibles: {{ curso.plazas_disponibles }}</p>
                </div>
            {% empty %}
                <p>No hay cursos disponibles en este momento.</p>
            {% endfor %}
        </div>
    </section>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
