<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña - Hecho</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
</head>
<body>
    <div class="container">
        <h1>¡Listo!</h1>
        <p>Si el correo electrónico ingresado está asociado con una cuenta, recibirás un mensaje con un enlace para restablecer tu contraseña.</p>
        <p>Si no ves el correo en tu bandeja de entrada, revisa la carpeta de spam o intenta de nuevo.</p>
        <!-- Enlace para volver al inicio -->
        <a href="{% url 'home' %}" class="logo">OpositaConmigo</a>
    </div>
</body>
</html>
