<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
</head>
<body>
    <div class="container">
        <h2>Restablecer Contraseña</h2>
        <p>Por favor, ingresa una nueva contraseña para tu cuenta.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Restablecer Contraseña</button>
        </form>
        <p><a href="{% url 'inicioSesion' %}">¿Ya tienes cuenta? Inicia sesión aquí.</a></p>
    </div>
</body>
</html>
