<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Restablecida</title>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>
<body>
    <div class="container">
        <h2>¡Contraseña Restablecida con Éxito!</h2>
        <p>Tu contraseña ha sido restablecida correctamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
        <a href="{% url 'inicioSesion' %}">Iniciar sesión</a>
    </div>
</body>
</html>
