<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuario</title>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>
<body>
    <div>
        <h1>Regístrate</h1>
        
        <!-- Mostrar mensajes de éxito o error -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {% if message.tags == 'error' %}error{% else %}success{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Formulario de registro -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Mostrar el formulario en formato de párrafos -->

            <button type="submit">Registrar</button>
        </form>
        
        <p>¿Ya tienes una cuenta? <a href="{% url 'perfil' %}">Inicia sesión aquí</a></p>
    </div>
</body>
</html>
